<div id="pagination">
    <p id="filtreAucuneCorrespondance" style="display:none;">Rien ne correspond à cette recherche</p>
    <button id="afficherPlus" type="button" class="btn btn-default petitMilieu" style="display:none;">Afficher Plus</button>
    <div id="tourniquetChargement" class="chargement" style="display:none;"></div>
</div>

<script>
    $(document).ready(function () {
        $("#afficherPlus").on('click', function (e) {
            if (typeof pagination.filtrerListe === 'function') {
                pagination.filtrerListe(false);
            }
        });
    });

    var Pagination = (function () {
        function Pagination(prendre, conteneur, filtreElement, action) {
            this.prendre = prendre;
            this.ecart = 0;
            this.conteneur = conteneur; //Le conteneur (élément html) dans lequel les éléments filtrés vont être placé
            this.filtreElement = filtreElement //Le champs qui contient la chaine sur laquel on filtre les éléments
            this.action = action; //La route qui retourne la liste des éléments
            this.tourniquetDelais = null; // La fonction qui délais l'affichage du tourniquet pour ne pas que cela clignote
            this.filtrageDelais = null; // La fonction qui délais les appels serveurs lors de la modification du champs de filtrage
            this.appelCourant = null; //contient la requete courante

            this.InscriptionChampsFiltre(this.filtreElement, "input");
            this.filtrerListe(true);
        };
      
        Pagination.prototype.InscriptionChampsFiltre = function (control, event) {
            control.on(event, function (e) {
                if (this.appelCourant)
                    this.appelCourant.abort("new filter called");

                if (this.filtrageDelais !== null) {
                    clearTimeout(this.filtrageDelais);
                }

                pagination.reinitialisationPagination()
                this.filtrageDelais = setTimeout(function () {    
                    pagination.filtrerListe(true);
                }, 300);
            });
        }

        Pagination.prototype.reinitialisationPagination = function () {
            this.conteneur.html("");
            $("#afficherPlus").hide();
            $("#filtreAucuneCorrespondance").hide();
            $("#tourniquetChargement").show();
        };

        Pagination.prototype.filtrerListe = function (resetPagination) {
            if (resetPagination) {
                var token = true;
                this.ecart = 0;

                if (this.tourniquetDelais !== null) {
                    clearTimeout(this.tourniquetDelais);
                }

                this.tourniquetDelais = setTimeout(function () {
                    if (token) {
                        $("#tourniquetChargement").show();
                    }
                }, 1000, token);

                this.appelCourant = CallController(
                    this.action,
                    { filtre: this.filtreElement.val(), take: this.prendre },
                    this //le context dans laquel les méthodes de retour(.done) vont être, ici on veut avoir encore acces au information de notre objet
                ).done(function (result) {
                    this.ecart = this.ecart + this.prendre;
                    token = false;
                    $("#tourniquetChargement").hide();

                    if (result.status === "All_Loaded") {
                        $("#filtreAucuneCorrespondance").show();
                    } else {
                        this.conteneur.html(result);

                        if (!this.conteneur.find(".dernier-element").length)
                            $("#afficherPlus").show();
                    }
                });
            }
            else {
                $("#tourniquetChargement").show();
                $("#afficherPlus").hide();

                this.appelCourant = CallController(
                    this.action,
                    { filtre: this.filtreElement.val(), take: this.prendre, offset: this.ecart },
                    this
                ).done(function (result) {
                    if (result.status !== "All_Loaded") { 
                        this.conteneur.append(result); 
                        this.ecart = this.ecart + this.prendre;

                        $("#tourniquetChargement").hide();

                        if (!this.conteneur.find(".dernier-element").length)
                            $("#afficherPlus").show();
                    }
                });
            }
        };

        return Pagination;
    }());
</script>