@section Styles {
    <link href="@Url.Content("~/Content/Composant.css")" rel="stylesheet" type="text/css" />
}

<h2>
    <span class="title">Liste des déploiements</span>
    <button type="button" id="btnCreer" class="btn btn-primary pull-right">Créer un déploiement</button>
</h2>

<div class="divListe">
    <div class="search-group">
        <div class="search-input input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" id="txtFiltre" class="form-control left-border-none" placeholder="Rechercher">
        </div>
    </div>

    <div id="deploiements"></div>

    @Html.Partial("_Pagination")
</div>

<a id="scroll-up" href="#" class="btn btn-primary btn-lg scroll-up" role="button"><span class="glyphicon glyphicon-chevron-up"></span></a>


<script>

$(document).ready(function () {
    //https://bootsnipp.com/snippets/featured/link-to-top-page
    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('#scroll-up').fadeIn();
        } else {
            $('#scroll-up').fadeOut();
        }
    });

    $('#scroll-up').click(function () {
        $('#scroll-up').tooltip('hide');
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
    });

    $("#btnCreer").on('click', function (e) {
        window.location.href = '@Url.Action("Creer", "Deploiement")';
    });

   if (typeof Pagination === 'function') {
       pagination = new Pagination(5, $("#deploiements"), $("#txtFiltre"), "@Url.Action("GetDeploiements", "Deploiement")");
    }
});

</script>

