.search-group {
    display: flex;
}

.search-group .search-input {
    flex-grow: 1;
}

.search-group .btn {
    flex-grow: 0;
    margin-left: 10px;
}

.search-group .input-group {
    display: flex;
}

.search-group .input-group-addon {
    display:inline-block;
    flex-grow: 0;
    width: auto;
}

.search-group .form-control {
    display: inline-block;
    flex-grow: 1;
}
    
label {
    font-weight: normal;
}

#txtFiltre {
    flex-grow: 1;
    display: inline-block;
}

#listeComposant {
    padding-top: 10px;
}


.divComposant {
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.divComposant:hover {
    border: 1px solid rgba(0, 158, 224, 0.6);
    background: rgba(0, 158, 224, 0.05);
    cursor: pointer;
}
    
.bold {
    font-weight: bold;
    font-size: 18px;
}

.italic {
    font-style : italic;
}

.right-align {
    text-align: right;
}

@media (max-width: 767px) {
    .version {
        text-align: left;
        padding-top: 0;
    }
}

.version,
.description {
    font-size: smaller;
    color: #555;
}

.description {
    min-height: 40px;
    padding-top:5px;
    margin-bottom: 5px;
}

.tags {
    padding: 5px 15px 0 15px;
}

.tag {
    background-color: rgba(254, 228, 4, 0.05);
    border: 1px solid rgba(254, 228, 4, 0.6);
    color: #555;
    text-align: center;
    margin-right: 3px;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 5px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, .075);
}

.scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgray;
    cursor: pointer;
}

.divComposant:hover .overlay {
    opacity: 0.5;
}

.padding-top {
    padding-top: 5px;
}