    
label {
    font-weight: normal;
}

#txtFiltre {
    flex-grow: 1;
    display: inline-block;
}

.divComposant {
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.divComposant:hover {
    border: 1px solid rgba(0, 158, 224, 0.6);
    background: rgba(0, 158, 224, 0.05);
    cursor: pointer;
}

@media (max-width: 767px) {
    .version {
        text-align: left;
        padding-top: 0;
    }
}

.version,
.description {
    font-size: smaller;
    color: #555;
}

.description {
    min-height: 40px;
    padding-top:5px;
    margin-bottom: 5px;
}

.scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: 1px solid #79c3ec;
    background: #f4fafd;
    color: #79c3ec;
}

.scroll-up:hover,
.scroll-up:focus {
    background: #79c3ec;
    border-color: #79c3ec;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgray;
    cursor: pointer;
}

.divComposant:hover .overlay {
    opacity: 0.5;
}

.padding-top {
    padding-top: 5px;
}

.chargement {
    background-image: url(../Image/loading_spinner.gif);
    margin: auto;
    width: 8%;
    padding-top: 8%;
    background-size: cover;
}

.petitMilieu {
	margin: auto;
    width: 15%;
    min-width: 100px;
    display: block;
}