body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set a margin to move the "Back" link down */
.container-details {
	margin-top: 2rem;
}

.chosen-container {
	margin-bottom: 1rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

.full-height {
	height: 100%;
}

.margin-bottom {
	margin-bottom: 1rem;
}

h2 {
    padding-bottom : 30px;
}

.action-group,
.search-group {
    padding-bottom: 10px;
}

.action-group {
    text-align: right;
}


.search-group {
    display: flex;
}

.search-group .search-input {
    flex-grow: 1;
}

.search-group .btn {
    flex-grow: 0;
    margin-left: 10px;
}

.search-group .input-group {
    display: flex;
}

.search-group .input-group-addon {
    display: inline-block;
    flex-grow: 0;
    width: auto;
}

.search-group .form-control {
    display: inline-block;
    flex-grow: 1;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.right-align {
    text-align: right;
}

@media (min-width: 768px) {
    .sm-right-align {
        text-align: right;
    }
}

.no-pad {
    padding: 0 !important;
    margin: 0 !important;
}